@import "../../../theme.scss";


.carouselplacesstay__container__text {
    margin-top: 70px;
  h1 {
    color: $white-color;
    font-size: 40px;
  }
  h3 {
    color: $white-color;
    font-size: 20px;
  }
  
}

.slide-container{
    margin-bottom: 70px;
}